{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Connexion - Smartstation</title>
    <link rel="stylesheet" href="{% static 'stations/css/styles.css' %}" />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'stations/img/Smartstationlogo.png' %}"
    />
  </head>
  <body>
    <main class="auth-container">
      <form method="post" class="auth-form">
        {% csrf_token %}
        <h1>Connexion</h1>
        {{ form.as_p }}
        <button type="submit">Se connecter</button>
      </form>
    </main>
  </body>
  </html>

